.footer {
    padding-top: 55px;
    padding-bottom: 56px;
    padding-left: 121px;
    padding-right: 122px;
    background-color: #454545;
}

.footer-desc {
    width: 379px;
    margin-top: 13px;
    font-size: 18px;
    line-height: 30px;
    color: #D9D9D9;
}

.footer-bl-title {
    font-size: 22px;
    color: #FFFFFF;
}

.footer-bl-list {
    list-style-type: none;
    flex-direction: column;
    gap: 15px;
    margin-top: 19px;
}

.footer-bl-list li a {
    font-size: 18px;
    text-decoration: none;
    color: #D9D9D9;
} 

.footer-bl-location {
    margin-top: 28px;
    padding-left: 22px;
    background: url("/public/images/location.png") no-repeat;
    background-position: 0;
    font-size: 18px;
    color: #D9D9D9;
}

.footer-bl-email {
    margin-top: 30px;
    padding-left: 25px;
    background: url("/public/images/email.png") no-repeat;
    background-position: 0;
    font-size: 20px;
    color: #D9D9D9;
}

.footer-bl-phone {
    margin-top: 30px;
    padding-left: 25px;
    background: url("/public/images/phone.png") no-repeat;
    background-position: 0;
    font-size: 18px;
    color: #D9D9D9;
}